{% set property = config.extra.analytics %}

{% if property and property.provider == "chiffre" and property.public_key and property.project_id %}
  <script id="chiffre:analytics-config" type="application/json">
    {
      "publicKey": "{{ property.public_key }}",
      "pushURL":   "https://push.property.io/event/{{ property.project_id }}"
    }
  </script>
  <script
    src="https://embed.property.io/analytics.js"
    crossorigin="anonymous"
    async=""
  >
  </script>
  <noscript>
    <img
      src="https://push.property.io/noscript/{{ property.project_id }}"
      alt="property.io anonymous visit counting for clients without JavaScript"
      crossorigin="anonymous"
      width="1px"
      height="1px"
      style="display:none"
    />
  </noscript>
{% endif %}
