[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
babel = "==2.12.1"
mkdocs = "==1.4.3"
mkdocs-material = "==9.1.19"
mkdocs-minify-plugin = "==0.7.1"
mkdocs-section-index = "==0.3.5"
mknotebooks = "==0.7.1"
readtime = "==3.0.0"

[dev-packages]
black = "==22.12.0"
faker = "==19.3.0"
feedparser = "==6.0.10"
flake8 = "==6.1.0"
jsonschema = "==4.19.0"
mypy = "==1.4.1"
jupyter = "==1.0.0"
matplotlib ="==3.7.2"
pandas = "==2.0.3"
pytest = "==7.4.0"
pytest-cov = "==4.1.0"
safety = "==2.3.5"

[requires]
python_version = "3.10"
