[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
babel = "~=2.9.1"
jsmin = {git = "https://github.com/tikitu/jsmin.git", editable = true, ref = "master"}
mkdocs = "~=1.2.2"
mkdocs-material = "~=7.2.8"
mkdocs-minify-plugin = "~=0.4.0"
mkdocs-section-index = "~=0.3.1"
mkdocs-simple-hooks = "~=0.1.3"
mknotebooks = "~=0.7.1"
readtime = "~=1.1.1"

[dev-packages]
black = "==21.9b0"
faker = "~=8.13.2"
feedparser = "~=6.0.8"
flake8 = "~=3.9.2"
jsonschema = "~=3.2.0"
mypy = "~=0.910"
jupyter = "~=1.0.0"
matplotlib ="~=3.4.3"
pandas = "~=1.3.3"
pytest = "~=6.2.5"
pytest-cov = "~=2.12.1"
safety = "~=1.10.3"

[requires]
python_version = "3.9"
