[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
babel = "==2.17.0"
mkdocs = "==1.6.1"
mkdocs-material = "==9.6.15"
mkdocs-minify-plugin = "==0.8.0"
mkdocs-section-index = "==0.3.10"
mknotebooks = "==0.8.0"
readtime = "==3.0.0"

[dev-packages]
black = "==25.1.0"
faker = "==37.4.0"
feedparser = "==6.0.11"
flake8 = "==7.3.0"
jsonschema = "==4.24.0"
jupyterlab = "==4.4.4"
notebook = "==7.4.4"
mypy = "==1.17.0"
matplotlib ="==3.10.3"
pandas = "==2.3.1"
pip-audit = "==2.9.0"
pytest = "==8.4.1"
pytest-cov = "==6.2.1"

[requires]
python_version = "3.10"
