{% set form = page.meta.form %}

<form
  class="mk-form"
  method="{{ form.method }}"
  action="{{ form.action }}"
  enctype="multipart/form-data"
>
  {% for field_name, field in form.fields.items() %}
    {% if field.label %}
      <label class="mk-form-label" for="{{ field_name }}">{{ field.label }}</label>
    {% endif %}

    <div class="mk-form-input-wrapper">
      {% if field.type == 'hidden' %}
        <input name="{{ field_name }}" type="hidden">
      {% elif field.type == 'file' %}
        <input class="mk-form-input-file" name="{{ field_name }}" type="file">
      {% elif field.type == 'textarea' %}
        <textarea
          class="mk-form-input"
          name="{{ field_name }}"
          {% if field.placeholder %}placeholder="{{ field.placeholder }}"{% endif %}
          {% if field.minlength %}minlength="{{ field.minlength }}"{% endif %}
          {% if field.maxlength %}maxlength="{{ field.maxlength }}"{% endif %}
          {% if field.required %}required{% endif %}
        ></textarea>
      {% else %}
        <input
          class="mk-form-input"
          name="{{ field_name }}"
          type="{{ field.type }}"
          autocomplete="{% if field.autocomplete %}on{% else %}off{% endif %}"
          {% if field.placeholder %}placeholder="{{ field.placeholder }}"{% endif %}
          {% if field.minlength %}minlength="{{ field.minlength }}"{% endif %}
          {% if field.maxlength %}maxlength="{{ field.maxlength }}"{% endif %}
          {% if field.required %}required{% endif %}
        >
      {% endif %}
    </div>
  {% endfor %}

  {% for button_name, button in form.buttons.items() %}
    <input
      class="mk-form-button"
      type="{{ button.type }}"
      value="{{ button.value }}"
    >
    <br />
  {% endfor %}
</form>

{% if form.notice %}
<p class="mk-form-notice"><small>{{ form.notice }}</small></p>
{% endif %}
