@media only screen and (max-width: 600px) {
  .mk-form {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .mk-form {
    width: 60%;
    margin-left: 20%;
  }
}

.mk-form-label {
  display: block;
  font-size: 0.8rem;
  font-weight: 700;
}

.mk-form-label {
  margin-bottom: .5em;
}

.mk-form-input-wrapper {
  margin-bottom: .75rem;
}

.mk-form-input {
  background-color: #fff;
  color: #363636;
  border: 1px solid transparent;
  border-color: #dbdbdb;
  border-radius: 0.1rem;

  box-shadow: inset 0 .0625em .125em rgba(10,10,10,.05);
  max-width: 100%;
  width: 100%;

  font-size: 0.8rem;
  height: 2.5em;
  line-height: 1.5;

  padding-bottom: calc(.5em - 1px);
  padding-left: calc(.75em - 1px);
  padding-right: calc(.75em - 1px);
  padding-top: calc(.5em - 1px);
}

textarea.mk-form-input {
  max-height: 40em;
  min-height: 8em;
  font-family: var(--md-text-font-family),-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
}

.mk-form-input-file {
  font-size: 0.8rem;
}

.mk-form-button {
  display: flex;
  width: 100%;
  height: 2.5em;
  background-color: var(--md-primary-fg-color, #fff);
  border-color: var(--md-primary-fg-color, #fff);
  color: var(--md-primary-bg-color, #363636);
  border-radius: 0.1rem;
  font-size: 0.8rem;
  font-weight: 700;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.mk-form-button:focus, .mk-form-button:hover {
  background-color: var(--md-accent-fg-color);
  border-color: var(--md-accent-fg-color);
  color: var(--md-accent-bg-color);
}

.mk-form-notice {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 1px;
  margin-top: 0;
}
