// brand colors
$romain-dark: #4a5153;

// bulma initial variables

// bulma derived variables
$custom-colors: (
  'romain-dark': (
    $romain-dark,
    findColorInvert($romain-dark)
  )
);

// bulma component variables
$dimensions: 16 24 32 48 64 96 128 256 512;
$footer-padding: 3rem 1.5rem 3rem;

// bulma and buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';

// custom styles
@import './columns_reverse.scss';
@import './anchor_links.scss';
