// brand colors
$romain-blue: #3890AB;
$romain-dark: #464846;
$white: #ffffff;

// bulma initial variables
$blue: $romain-blue;
$grey-darker: $romain-dark;
$family-sans-serif: "Quicksand", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

// bulma component variables
$footer-padding: 3rem 1.5rem 3rem;

@import "~bulma/bulma.sass";
@import "~buefy/src/scss/buefy";
