// brand colors
$romain-blue: #3890ab;
$romain-dark: #464846;

// bulma initial variables
// $blue: $romain-blue;
// $cyan: $romain-blue;
// $grey-darker: $romain-dark;

// bulma derived variables
$custom-colors: (
  'romain-blue': (
    $romain-blue,
    findColorInvert($romain-blue)
  ),
  'romain-dark': (
    $romain-dark,
    findColorInvert($romain-dark)
  )
);

// bulma component variables
$dimensions: 16 24 32 48 64 96 128 256 512;
$footer-padding: 3rem 1.5rem 3rem;

// bulma and buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';
