name: Cleanup

on: [delete]

env:
  BASE_URL_PREVIEW: website-romainclement.vercel.app

jobs:
  cleanup-preview-deployment:
    name: Cleanup Preview Deployment
    runs-on: ubuntu-latest

    env:
      VERCEL_ORG_ID: ${{ secrets.NOW_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.NOW_PROJECT_ID }}
      VERCEL_TOKEN: ${{ secrets.NOW_TOKEN }}

    steps:
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v5
      - name: Install Vercel CLI
        run: npm install --global vercel@latest
      - name: Get current branch name slug
        run: |
          BRANCH_NAME="${GITHUB_EVENT_REF}"
          MAX_SLUG_LENGTH=$((63 - ${#BASE_URL_PREVIEW} - 1))
          BRANCH_NAME_SLUG=$(echo "${BRANCH_NAME}" | tr '[:upper:]' '[:lower:]' | sed -E 's#[^a-z0-9]+#-#g; s#^-+##; s#-+$##')
          BRANCH_NAME_SLUG=${BRANCH_NAME_SLUG:0:$MAX_SLUG_LENGTH}
          echo "BRANCH_NAME_SLUG=${BRANCH_NAME_SLUG}" >> $GITHUB_ENV
      - name: Set Vercel alias using branch slug
        run: echo "VERCEL_ALIAS=${BRANCH_NAME_SLUG}-${BASE_URL_PREVIEW}" >> $GITHUB_ENV
      - name: Remove Vercel alias
        run: vercel alias --token $VERCEL_TOKEN rm $VERCEL_ALIAS -y
      - name: Delete GitHub environment
        uses: actions/github-script@v8
        with:
          github-token: ${{ secrets.GH_PERSONAL_TOKEN }}
          script: |
            github.rest.repos.deleteAnEnvironment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              environment_name: `preview/${process.env.BRANCH_NAME_SLUG}`,
            })
